*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-attachment: fixed;
    height: 100vh;
}

/*GERAL BOX----------------------------------------------------------------------------------------------*/

.geral-box{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    border: 2px solid white;
    box-shadow: 0 0 20px black;
    
    background: linear-gradient(to left, rgba(3, 0, 50, 0.78), rgba(15, 0, 22, 0.86));
    width: 100%;
    height: 100%;
    max-height: 800px;
    max-width: 1000px;
}

/*HEADER-------------------------------------------------------------------------------------------------*/

.header-box{
    display: flex;
    border-bottom: 2px solid white;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.section-click-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.link-div-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16%;
}

.link-div-box-click{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    height: 100%;
    width: 150px;
}

.nova-horizon-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 150px;
}

.nova-horizon-logo img{
    display: flex;
    height: 20px;
    width: auto;
}

.link-label-button-a,
.link-label-button-b,
.link-label-button-c,
.link-label-button-d{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 100px;
    transition: 0.5s;
}

/*LINK LABEL BVUTTON INTERAÇÔES--------------------------------------------------------------------------*/

.link-label-button-a:hover,
.link-label-button-b:hover,
.link-label-button-c:hover,
.link-label-button-d:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
 
.nav-box-a,
.nav-box-b,
.nav-box-c,
.nav-box-d{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: absolute;
    top: 100%;

    border-radius: 10px;
    flex-direction: column;

    background-color: white;
    height: 0;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0);
    transition: 0.5s;
    overflow: hidden;
}

/*NAV BOX INTERAÇÔES-------------------------------------------------------------------------------------*/

.link-div-box-click:hover  .nav-box-a,
.link-div-box-click:hover  .nav-box-b,
.link-div-box-click:hover  .nav-box-c,
.link-div-box-click:hover   .nav-box-d{
    visibility: visible;
    opacity: 1;
    height: 220px;
    
}

.nav-click{
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border: 2px solid deepskyblue;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    margin: 4px;
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 130px;
    transition: 0.5s;
}

/*NAV CLICK INTERAÇÔES-----------------------------------------------------------------------------------*/

.nav-click:hover{
    background-color: deepskyblue;
    color: white;
}

.reserva-box{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid deepskyblue;
    font-weight: 700;
    text-shadow:  0 0 30px blue;
    color: skyblue;
    font-size: 14px;
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 150px;
    transition: 0.5s;
}
/*RESERVA-BOX INTERAÇÔES---------------------------------------------------------------------------------*/
.reserva-box:hover{
    transform: scale(94%);
}

/*MAIN CONTEUDO------------------------------------------------------------------------------------------*/

.main-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    max-height: 300px;
}

.text-section h1,h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin:  0 0 20px 50px;
}

.text-section a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 0 0 50px;
    border: 2px solid orange;
    font-weight: 700;
    text-shadow:  0 0 20px orangered;
    color: orange;
    font-size: 14px;
    height: 100%;
    width: 100%;
    max-height: 40px;
    max-width: 150px;
    transition: 0.5s;
}

.text-section a:hover{
    transform: scale(94%);
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-height: 400px;
}

.link-cards{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    text-align: center;

    border-radius: 10px;
    
    margin: 10px;
    height: 330px;
    width: 290px;
}

.link-cards img{
    display: flex;
    mix-blend-mode: screen;
    
    height: 100%;
    width: 100%;
    max-height: 120px;
    max-width: 120px;
    margin-top: 10%;
    border-radius: 50%;
    border: 2px solid deepskyblue;
}

/*LINK CARD IMG ANIMATION LOOP----------------------------------------------------------------------------*/

@keyframes loop{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.link-cards img{
    animation: loop 10s linear infinite;
}

.link-cards span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 16px;
    color: deepskyblue;
    font-weight: 700;
    text-shadow: 0 0 20px deepskyblue ;
}

section .link-cards p{
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 98%;
    height: 100px;
}

section .link-cards span{
    position: absolute;
    margin-top: -116px;
    height: 30px;  
}
  
.link-cards p{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 16px;
    color: white;
}
